
<h2> Edit this Landmark </h2>
<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH"/><br>
  Landmark Name: <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id = "name">
  Landmark Year Completed: <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id = "year_completed">
  <input type="submit" value="Edit Landmark"> <br>
</form>




<form action="/landmarks/<%= @landmark.id %>" method="post">
   <input type="hidden" name="_method" value="DELETE"><br>
  <input type="submit" value="Delete this Landmark">
</form>
