<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @landmarks.each{|landmark| %>
      <%= landmark.name %>
      <%= landmark.year_completed %>
      <% } %>
  </body>
</html>
