<h1> Create a new Landmark!!! </h1> 

<form action="/landmarks" method="post">
  Landmark Name: <input type="text" name="landmark[name]"><br>
  Landmark Year Completed: <input type="text" name="landmark[year_completed]"><br>
  <input type="submit" value="Submit">
</form>
