<form action="/figures" method="post">
  <label>Name:</label>
  <br/>
  <br/>
  <input type="text" name="figure[name]"/>
  <br/>
  <br/>

  <label>Choose an existing landmark:</label>
  <br/>
  <br/>

  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value= "<%= landmark.id %>" id="<%= landmark.id %>">
      <%= landmark.name %>
    </input>
    <br/>
  <% end %>
  <br/>

  <p>Or create a new landmark:</p>

  <label>Name:</label>
  <br/>
  <input type="text" name="landmark[name]">
  <br/><br/>
  <label>Year Completed:</label><br/>
  <input type="text" name="landmark[year_completed]">


  <br/>
  <br/>
  <input type="submit" value="Create Figure">
</form>
